USE [master]
GO
/****** Object:  Database [GESTION_DE_STOCK]    Script Date: 18/04/2020 08:44:21 ******/
CREATE DATABASE [GESTION_DE_STOCK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GESTION_DE_STOCK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GESTION_DE_STOCK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GESTION_DE_STOCK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GESTION_DE_STOCK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GESTION_DE_STOCK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GESTION_DE_STOCK]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 18/04/2020 08:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[ID_CATEGORIE] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Categorie] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_CATEGORIE] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 18/04/2020 08:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID_CLIENT] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Client] [nvarchar](250) NOT NULL,
	[Prenom_Client] [nvarchar](250) NOT NULL,
	[Adresse_Client] [nvarchar](250) NOT NULL,
	[Telephone_Client] [nvarchar](250) NOT NULL,
	[Ville_Client] [nvarchar](250) NOT NULL,
	[Email_Client] [nvarchar](250) NOT NULL,
	[Pays_Client] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commande]    Script Date: 18/04/2020 08:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commande](
	[ID_COMMANDE] [int] IDENTITY(1,1) NOT NULL,
	[Date_Commande] [datetime] NOT NULL,
	[ID_CLIENT] [int] NOT NULL,
	[Total_HT] [nvarchar](250) NULL,
	[TVA] [nvarchar](20) NULL,
	[Total_TTC] [nvarchar](250) NULL,
 CONSTRAINT [PK_Commande] PRIMARY KEY CLUSTERED 
(
	[ID_COMMANDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details_Commande]    Script Date: 18/04/2020 08:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details_Commande](
	[IdDetail] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMMANDE] [int] NOT NULL,
	[ID_PRODUIT] [int] NOT NULL,
	[Nom_Produit] [nvarchar](250) NOT NULL,
	[Quantite] [int] NOT NULL,
	[Prix] [nvarchar](250) NOT NULL,
	[Remise] [nvarchar](250) NOT NULL,
	[Total] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK__Details___BA1D96E4C7EA3F94] PRIMARY KEY CLUSTERED 
(
	[IdDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 18/04/2020 08:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[ID_PRODUIT] [int] IDENTITY(1,1) NOT NULL,
	[ID_CATEGORIE] [int] NOT NULL,
	[Nom_Produit] [nvarchar](250) NOT NULL,
	[Quantite_Produit] [int] NOT NULL,
	[Prix_Produit] [nvarchar](250) NOT NULL,
	[Image_Produit] [image] NOT NULL,
 CONSTRAINT [PK_Produit] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 18/04/2020 08:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[Nom_Utilisateur] [nvarchar](250) NOT NULL,
	[Mot_De_Passe] [nvarchar](250) NULL,
 CONSTRAINT [PK_Utilisateur] PRIMARY KEY CLUSTERED 
(
	[Nom_Utilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commande]  WITH CHECK ADD  CONSTRAINT [FK_Commande_Client] FOREIGN KEY([ID_CLIENT])
REFERENCES [dbo].[Client] ([ID_CLIENT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Commande] CHECK CONSTRAINT [FK_Commande_Client]
GO
ALTER TABLE [dbo].[Details_Commande]  WITH CHECK ADD  CONSTRAINT [FK_Details_Commande_Commande] FOREIGN KEY([ID_COMMANDE])
REFERENCES [dbo].[Commande] ([ID_COMMANDE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Details_Commande] CHECK CONSTRAINT [FK_Details_Commande_Commande]
GO
ALTER TABLE [dbo].[Details_Commande]  WITH CHECK ADD  CONSTRAINT [FK_Details_Commande_Produit] FOREIGN KEY([ID_PRODUIT])
REFERENCES [dbo].[Produit] ([ID_PRODUIT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Details_Commande] CHECK CONSTRAINT [FK_Details_Commande_Produit]
GO
ALTER TABLE [dbo].[Produit]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Categorie] FOREIGN KEY([ID_CATEGORIE])
REFERENCES [dbo].[Categorie] ([ID_CATEGORIE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Produit] CHECK CONSTRAINT [FK_Produit_Categorie]
GO
USE [master]
GO
